.footer {
    background-color: #f1c35a;
    width: 100%;
    color: #851F00;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
    box-sizing: border-box;
}



.footer > p > a {
    text-decoration: underline;
    color: #851F00;
}

/* For tablets */
@media only screen and (max-device-width: 799px) and (min-device-width: 480px){

}

/* For phones */
@media only screen and (max-device-width: 480px) {
    .footer > p{
        padding: 1.5rem;
    }   
}