.space {
  text-align: center;
  margin: 6rem 1rem;
}

.space h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  font-size: 2rem;
}

.space img {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    width: 100%;
    height: 90%;
}

.space p {
  font-weight: lighter;
  line-height: 0;
}

a {
  color:rgb(0, 0, 0);
  text-decoration: none;
}

/* Phone - display only one column  */
@media only screen and (max-width: 479px) {
  .space h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 1.5rem;
  }

  .space {
    text-align: center;
    margin: 0.5rem 0.5rem;
  }

  .space img {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: 100%;
    height: 90%;
  }
}

/* tablet - Display 2 columns */
@media only screen and (max-width: 700px)  and (min-device-width: 480px) {
  .space {
    text-align: center;
    margin: 3rem 0.5rem;
  }
  
  .space img {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    width: 70%;
    height: 60%;
  }
}