.subscribe{
    width: calc(100% - 100px);
    margin: auto;   
}

.subscribe-form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    text-align: left;
}

/* For tablets */
@media only screen and (max-device-width: 799px) and (min-device-width: 480px){

}

/* For phones */
@media only screen and (max-device-width: 480px) {
    .about p{
        font-size: 1.5rem;
    } 
}